/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

.dropdown-menu{
  top: auto;
  left: auto;
}

.topNav{
  margin-bottom: 5px;
}

.footer{
  margin-top: 10px;
}

.inventoryIcon{
  width: 68px;
  height: 68px;
  margin: 5px;
}
.quantity{
  position: relative;
  top: 20px;
  left:-65px;
  width: 100%;
  color: white;
  font-weight: bolder;
}

.Rare{
  border: 2px solid yellow;
}
.Fine{
  border: 2px solid green;
}
.Masterwork{
  border: 2px solid blue;
}
.Basic{
  border: 2px solid white;
}
.Ascended{
  border: 2px solid purple;
}
.Junk{
  border: 2px solid grey;
}
.Exotic{
  border: 2px solid gold;
}
.Legendary{
  border: 2px solid deeppink;
}

#sections{
  width: 80%;
}